/*Estilos para el body*/

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Estilos para el header */

header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/* Estilos para las subsecciones */

#info-personal, #habilidades {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

#habilidades ul {
    list-style-type: square;
}

/* Estilos para el footer */
footer {
    background-color:  #f1f1f1;
    color: #333;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}



/* Media Queries para hacer la pagina responsiva */


/* Estilos para pantallas pequeñas (smartphones) */
@media only screen and (max-width: 600px) {

    /*Podemos ajustar el padding para el footer y las subsecciones */
    header, #info-personal, #habilidades {
        padding: 10px;
    }

    /* Y aca cambiamos el tamaño y la fuente del titulo */
    h1, h2 {
        font-size: 18px;
    }

}

/* Estilos para pantallas medianas (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {

    /* Aca mantenemos el padding del encabezado y de las subsecciones igual */
    header, #info-personal, #habilidades {
        padding: 20px;
    }

    /* Podriamos querer que los titulos sean mas grandes que en moviles pero mas chicos que en desktop*/

    h1, h2 {
        font-size: 22px;
    }
}

/* Estilos para pantallas grandes (desktop) */
@media only screen and (max-width: 1025px) {

    /*Aca aumentamos el padding del encabezado y de las subsecciones*/
    header, #info-personal, #habilidades {
        padding: 30px;
    }

    /* Agrandamos los titulos */
    h1, h2 {
        font-size: 30px;
    }
}